.task-4 {
    border: 3px solid black;
    margin-top: 20px;
    padding: 20px;

    h1 {
        text-align: center;
    }

    .list-toggle {

        button {
            padding: 20px;
            font-size: 20px;
            border: none;
            background-color: blueviolet;
            color: white;
            border-radius: 15px;
        }
    }
}