.task-5 {
    border: 3px solid black;
    padding: 20px;
    margin: 20px;

    h1 {
        text-align: center;
    }
    .card-container {
        border: 3px solid black;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
}
